@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

:root {
    --mainBackgroundColor: #fafafa;
    --font: #040403;
    --fontAccent: #838383;
    --lightGrey: #cfcfcf;
    --secundary: #304ffe;
    --secundaryDark: #0026ff;
    --accent1: #E84855;
    --portfolioCount: '3';
}

nav>a>img {
    max-width: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.headerAside>P>strong {
    font-size: 18px;
    font-weight: 800;
}

.subTitle {
    font-weight: 300;
    color: var(--fontAccent);
    padding-top: 5px;
}

nav>ul {
    display: inline-flex;
    gap: 1.5rem;
    list-style-type: none;
}

.heroBackground>svg {
    z-index: -1;
}

.heroBackground {
    max-height: 400px;
    z-index: -1;
    overflow: hidden;
    background-color: var(--secundary);
}

nav>ul>li>a {
    color: var(--font);
}

main>div {
    max-width: 70%;
    margin: auto;
    position: relative;
    gap: 5%;
    display: flex;
    z-index: 100;
    margin-top: -5rem;
    margin-bottom: 3rem;
}

main>div>aside {
    padding-top: 1em;
    height: max-content;
    border-radius: 5px 5px 0 0;
    flex-basis: 400px;
    border: 1px solid var(--lightGrey);
    max-width: 400px;
    flex-grow: 0;
    background-color: var(--mainBackgroundColor);
}

.cartoonify {
    max-width: 150px;
    margin-top: -7rem;
    border-radius: 50%;
    padding-bottom: 15px;
}

.headerAside {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lightGrey);
}

span.socials {
    padding-top: 1.2rem;
}

span.socials>a {
    color: var(--secundary);
    text-decoration: none;
    padding: 0px 5px;
     :hover {
        color: #00A6A6;
    }
}

aside>ul {
    list-style-type: none;
    a {
        padding: 1em;
        height: 60px;
        display: flex;
        text-decoration: none;
        color: var(--fontAccent);
        font-weight: 500;
        transition: 800ms ease;
        border-bottom: 1px solid var(--lightGrey);
        justify-content: space-between;
        align-items: center;
    }
    a:hover {
        background-color: var(--lightGrey);
        color: var(--font);
    }
    .portfolio::after {
        content: var(--portfolioCount);
        font-size: 20px;
        border-radius: 50%;
        color: var(--mainBackgroundColor);
        min-width: 5px;
        display: flex;
        align-items: center;
        transition: 500ms;
        justify-content: center;
        height: 20px;
        background-color: var(--fontAccent);
        float: right;
        aspect-ratio: 1;
        font-size: 13px;
    }
    a:hover.portfolio::after {
        background-color: var(--mainBackgroundColor);
        color: #040403;
    }
}

.contactInformation {
    padding: 1rem;
    border-bottom: 1px solid var(--lightGrey);
    p {
        display: flex;
        gap: 10px;
        align-items: center;
        font-weight: 300;
        padding-bottom: 5px;
    }
    p>svg {
        color: var(--secundaryDark);
    }
}

.signin {
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid var(--lightGrey);
    margin: 1.5em 1rem 1.5em 1em;
    text-decoration: none;
    color: var(--font);
    transition: 500ms ease-in-out;
}

.signin:hover {
    color: #0026ff;
    border-color: #0026ff;
}

.wrapper {
    background-color: var(--mainBackgroundColor);
    width: 100%;
    border-radius: 5px 5px 0 0;
    padding: 1em 0em;
}

.wrapper>header {
    border-bottom: 1px solid var(--lightGrey);
    height: 4rem;
    overflow: hidden;
    ul>li {
        display: inline-flex;
        padding: 1rem 1rem 2rem 1rem;
        a {
            color: var(--fontAccent);
            text-decoration: none;
            position: relative;
            transition: 800ms ease;
        }
        a.active::after {
            content: "";
            width: 100%;
            height: 3px;
            bottom: -28px;
            left: 0;
            position: absolute;
            background-color: #0026ff;
        }
        a.active {
            color: var(--font);
        }
         :hover {
            color: #040403;
        }
    }
}

.wrapper>h1 {
    padding: 1rem;
}

.wrapper {
    border: 1px solid var(--lightGrey);
}

.wrapper>p {
    padding: 1rem;
    line-height: 1.8;
    color: var(--fontAccent);
    margin-top: -1rem;
    max-width: 60%;
}

p.Alert {
    padding: 6px 12px;
    margin: 1rem;
    margin-top: 0;
    border: 1px solid var(--accent1);
    width: max-content;
    border-radius: 5px;
    color: #E84855;
}

#grid_images {
    margin: 1em;
    border-radius: 5px 5px 0 0;
    height: 600px;
    padding: 5px;
    width: 600px;
    border: 1px solid var(--lightGrey);
}

#grid_images {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
}

.grid-item {
    background-color: lightcoral;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.gridControls {
    margin: 0 1rem;
    width: 600px;
    margin-top: -1rem;
    padding: 5px;
    border: 1px solid var(--lightGrey);
    border-top: none;
    font-weight: 300;
    color: var(--fontAccent);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gridControls a {
    color: #0026ff;
    cursor: pointer;
}

footer {
    padding: 1em;
    margin-top: 1rem;
    margin-bottom: -1em;
    color: var(--fontAccent);
}

footer>p {
    font-size: 200;
    padding-bottom: 5px;
    >b {
        font-weight: normal;
    }
}

.WorldeGame input {
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 22px;
    align-items: center;
    border: 1px solid var(--fontAccent);
    outline: transparent;
    justify-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.gridBody::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 100%;
    top: 0;
    left: 0;
}

.WorldeGame input:focus {
    outline: transparent;
}

section.WorldeGame {
    margin: 1em 1rem 0 1rem;
    border: 1px solid var(--fontAccent);
    border-radius: 5px 5px 0 0;
    position: relative;
    width: min-content;
}

.wordleHeader {
    display: flex;
    z-index: 1000;
    padding: 1rem 1rem 0rem 1rem;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.wordleHeader svg {
    cursor: pointer;
}

.WorldeGame .gridBody {
    display: grid;
    margin-top: 1rem;
    position: relative;
    padding: 1em;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.resultBody {
    padding: 1rem;
    animation: fadeIn ease-in-out 2000ms forwards;
    text-align: center;
    padding-bottom: 8rem;
    position: relative;
}

@keyframes fadeIn {
    0% {
        top: -40px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.resultBody header {
    font-weight: bold;
    font-size: 1.4rem;
}

.specialWorlde {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(231, 231, 231, 40%);
    text-align: center;
    font-family: monospace;
    font-weight: 200;
    font-size: 20px;
}

.controls {
    padding: 0.5rem;
    border-top: 1px solid var(--fontAccent);
    color: var(--fontAccent);
    z-index: 100;
    position: relative;
}

.fadeOut {
    animation-delay: 5000ms;
    animation: fadeOut ease-in-out 2000ms forwards;
}

@keyframes fadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

.cv_item {
    border: 1px solid var(--fontAccent);
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    padding: 1rem;
    header {
        font-weight: bold;
        font-size: 1.2rem;
    }
    .personal {
        max-width: 600px;
        padding-top: 5px;
        line-height: 1.5;
    }
    ul {
        padding: 1rem 0;
    }
    article {
        margin: 1rem 0;
        display: flex;
        gap: 0.4rem 0.6rem;
        flex-wrap: wrap;
        max-width: 700px;
        span {
            padding: 6px 12px;
            text-transform: lowercase;
            color: black;
            background-color: #cfcfcf;
            border-radius: 8px;
        }
    }
    ul>li {
        list-style-type: none;
        display: flex;
        padding: 0.8rem 0em;
        width: 400px;
        border-bottom: 1px solid var(--lightGrey);
        gap: 1rem;
        align-items: center;
        img {
            max-width: 50px;
        }
        header {
            font-size: 1rem;
            padding-bottom: 3px;
        }
    }
    ul>li:last-child {
        border: none;
        padding-bottom: 0;
    }
    ul>li.NoFlexAutoAligning {
        align-items: start;
        p {
            padding-bottom: 1px;
        }
    }
}

.subHeaderCV {
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.NoFlexAutoAligning {
    align-items: start;
    ;
}

.subDescr {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--fontAccent);
    word-spacing: 1px;
}

form {
    max-width: 60%;
    border: 1px solid var(--lightGrey);
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 8px;
    section {
        display: flex;
        margin-bottom: 1rem;
        gap: 1rem;
    }
    section>span {
        width: 100%;
        label {
            display: block;
            padding-bottom: 6px;
            font-weight: 300;
        }
        input {
            padding: 8px 12px;
            width: 100%;
            outline: transparent;
        }
        input:focus {
            border: 2px solid #00A6A6;
            outline: transparent;
        }
        select {
            width: 100%;
            padding: 8px 0 8px 4px;
            border: 2px solid #00A6A6;
            outline: transparent;
            border-radius: 5px;
        }
    }
    #message {
        width: 100%;
        resize: none;
        padding: 8px;
        outline: transparent;
    }
    #message:focus {
        border: 2px solid #00A6A6;
    }
    input[type="submit"] {
        padding: 8px 24px;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        outline: transparent;
        width: max-content;
        background-color: #00A6A6;
        border: 1px solid var(--lightGrey);
    }
    input[type="checkbox"] {
        width: max-content;
        margin-right: 3px;
    }
    input[value="Email is verstuurd!"] {
        padding: 6px 12px;
        border: none;
        width: max-content;
        border: 2px solid #00A6A6;
        border-radius: 5px;
    }
    input[value="Er is een fout opgetreden. Probeer het later nog eens."] {
        padding: 6px 12px;
        border: none;
        border: 2px solid var(--accent1);
        border-radius: 5px;
    }
    input {
        width: -webkit-fill-available;
    }
}

.pricacy {
    display: flex;
    flex-flow: row-reverse;
    justify-content: left;
    gap: 3px;
    align-items: center;
    label {
        padding-bottom: 0;
    }
}

.wrapper a {
    color: #0026ff;
}

.portfolioGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 1rem;
    a {
        color: #040403;
    }
}

figure>img {
    max-width: 100%;
    display: block;
    position: relative;
}

figure {
    position: relative;
}

.portfolioGrid figcaption:hover,
img:hover~figcaption {
    opacity: 1
}

.portfolioGrid figcaption {
    position: absolute;
    width: 100%;
    font-weight: bold;
    transition: 500ms opacity;
    opacity: 0;
    height: 140px;
    padding: 60px 10px 0 10px;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 20%, rgb(255, 255, 255, 0));
    bottom: 0;
    header {
        display: flex;
        color: #0026ff;
        justify-content: space-between;
        span:nth-child(2) {
            font-weight: 300;
            color: #040403;
        }
    }
    >p {
        font-weight: 300;
        margin-top: 5px;
    }
}

.resources>span {
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 0.8rem;
    border: 1px solid #00A6A6;
}

.keyboard-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 0em 1em 1em 1em;
    align-items: center;
}

.keyboard-row {
    justify-content: center;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.keyboard-key {
    width: 100%;
    text-transform: uppercase;
    width: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 25px;
    border: none;
    border-radius: 5px;
}

.keyboard-key:active {
    box-shadow: none;
}

.projectGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    .projectItem {
        padding: 5px;
        border: 1px solid #cfcfcf;
        border-radius: 20px;
        header {
            padding: 1rem;
            background-color: #00cccc;
            border-radius: 15px;
            .flexBox {
                display: flex;
                justify-content: space-between;
                padding-bottom: 1.5rem;
                align-items: center;
            }
            .flexBox.bckGr p {
                padding: 6px 12px;
                width: max-content;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 300;
                font-size: 14px;
                border-radius: 20px;
                background-color: var(--mainBackgroundColor);
            }
            .smallHeader {
                font-size: 15px;
            }
            .bigHeader {
                font-size: 22px;
                letter-spacing: 1px;
                font-weight: 800;
            }
            .favicon img {
                width: 30px;
            }
            .tags {
                margin-top: 0.5rem;
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
                .tag {
                    padding: 6px 12px;
                    border: 1px solid var(--font);
                    border-radius: 15px;
                    font-size: 12px;
                    color: #040403;
                }
            }
            .bookMark {
                cursor: pointer;
            }
        }
        footer {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;
            strong {
                font-weight: 800;
                color: var(--font);
            }
            p.updateDescr {
                font-weight: 300;
                padding-top: 2px;
                font-size: 13px;
                max-width: 70%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            a {
                padding: 8px 15px;
                background-color: #040403;
                color: #fafafa;
                text-decoration: none;
                border-radius: 15px;
                cursor: not-allowed;
            }
        }
    }
}