@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;

}

:root {
    --mainBackgroundColor: #fafafa;
    --font: #040403;
    --fontAccent: #838383;
    --lightGrey: #cfcfcf;
    --secundary: #304ffe;
    --secundaryDark: #0026ff;
    --accent1: #E84855;
    --portfolioCount: '4';
}

.page-content>p {
    padding: 1rem;
    line-height: 1.8;
    display: block;
    color: var(--fontAccent);
    margin-top: -1rem;
    max-width: 80%;
}

.page-content>h1,.page-content>h3 {
    padding: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 1600px) {
    .top::after {
        height: 400px;
    }
    .top {
        height: 400px;
    }
}

@media screen and (max-width: 1500px) {
    .wrapper>p {
        max-width: 80%;
    }
    #grid_images,
    .gridControls {
        width: 80%;
        max-height: 80%;
    }
    .portfolioGrid {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .projectGrid {
        grid-template-columns: repeat(2, 1fr)
    }
    form {
        max-width: 100%;
    }
    form input {
        margin-top: -1px;
    }
    .descriptionHolder {
        display: block;
    }
    .subGridClass .bar {
        max-width: 175px;
        left: 0;
        float: right;
        margin-top: -3.5rem;
        border-radius: 10px;
        height: 39px;
        overflow: hidden;
        padding: 0;
    }
    .subGridClass .textfield {
        height: 150px;
        margin-bottom: -1rem;
        display: block;
    }
}

@media screen and (max-width: 1400px) {
    .top::after {
        height: 300px;
        left: 1rem;
        width: calc(100% - 2rem);
        top: 3rem;
    }
    .top {
        width: 100%;
        height: 300px;
        align-items: start;
    }
    .container>article {
        max-width: calc(100% - 4rem);
        left: 2rem;
    }
    .subGridClass {
        grid-template-columns: 60% 40%;
    }
    .subGridClass .bar {
        float: left;
        margin-top: 1rem;
        border-radius: 0;
        background-color: #6075ff;
        border-bottom-right-radius: 15px;
        border: 1px solid white;
        ;
        z-index: 1;
        margin-top: 0;
        height: 39px;
    }
    .container article header {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1300px) {
    .container article header {
        font-size: 1.6rem;
    }
    .subGridClass {
        grid-template-columns: 1fr 1fr;
    }
    .subGridClass .bar {
        max-width: 100%;
        border-radius: 0;
        border: 1px solid black;
    }
    .projectDetails {
        align-items: start;
    }
}

@media screen and (max-width: 1200px) {
    main>div {
        max-width: 90%;
    }
    .container article header {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .container article header {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 950px) {
    .container article header {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 900px) {
    .subGridClass {
        display: flex;
        flex-flow: column-reverse;
    }
    .projectDetails {
        margin: -1rem;
    }
    .container.w4 .projectDetails {
        background-color: #ffdcc0;
    }
    .container.w3 .projectDetails {
        background-color: #e3e7ff;
    }
    .projectDetails ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .projectDetails p:not(.tag)::after {
        display: none;
    }
    .projectDetails p {
        float: right;
    }
    li.flexBox {
        justify-content: right;
    }
    .descriptionHolder {
        border-radius: 0;
    }
    .projectDetails strong {
        font-weight: 500;
    }
    .subGridClass .bar {
        max-width: 175px;
        float: right;
        border-radius: 10px;
        border: none;
    }
}

@media screen and (max-width: 850px) {
    .wrapper>header {
        height: 3rem;
    }
    .wrapper>header ul>li {
        padding: 0.3rem 0.5rem;
    }
    .wrapper>header ul>li a.active::after {
        bottom: -23px;
    }
    .subGridClass .bar {
        float: none;
        margin-top: 1rem;
    }
    .container article header {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper>p {
        max-width: 95%;
    }
    #grid_images,
    .gridControls {
        max-width: 400px;
        height: 400px;
    }
    .gridControls {
        height: max-content;
    }
    .wrapper>header {
        height: 3rem;
        display: flex;
        justify-content: center;
    }
    .wrapper>header ul>li {
        padding: 0.2rem 0.4rem;
    }
    .wrapper>header ul>li a.active::after {
        bottom: -25px;
    }
    .projectDetails ul {
        display: block;
    }
    .projectDetails p:not(.tag)::after {
        display: block;
    }
    .projectDetails p {
        float: none;
    }
    .top::after {
        width: 100%;
        left: 0;
    }
    .container>article {
        max-width: 100%;
        left: 0;
        margin-top: -1rem;
    }
    .subGridClass .bar {
        float: right;
        margin-top: -3.5rem;
    }
}

@media screen and (max-width: 700px) {
    main>div {
        flex-flow: column;
        gap: 0;
    }
    main>div>aside {
        flex-basis: 0;
        display: flex;
        flex-flow: row-reverse;
        border-bottom: 0;
        gap: 1rem;
    }
    .wrapper {
        border-radius: 0;
        border-top: 0;
        border-top: 1px solid var(--lightGrey);
    }
    aside>ul:not(.contactInformation) li:nth-child(2)>a {
        padding-left: 0;
        color: white;
    }
    aside>ul:not(.contactInformation):not(.projectDetails>ul) {
        position: absolute;
        top: -3rem;
        padding-left: 0;
        left: 0;
    }
    aside>ul:not(.contactInformation) a {
        color: var(--mainBackgroundColor);
    }
    .contactInformation {
        padding: 5px;
        padding-top: 0;
        border-bottom: 0;
    }
    span.socials a[href="mailto:thijs@vqnderklein.nl"] {
        display: none;
    }
    .contactInformation p {
        font-size: 15px;
        gap: 5px;
    }
    .headerAside {
        padding-right: 5px;
        border-bottom: 0;
        align-items: normal;
    }
    .headerAside>p>strong {
        float: right;
        text-align: right;
        padding: 10px;
        padding-top: 0;
        font-size: 17px;
    }
    span.socials {
        justify-content: right;
        display: flex;
        margin-top: -1.2rem;
    }
    .subTitle {
        display: none;
    }
    .cartoonify {
        display: none;
    }
    .signin,
    .portfolio,
    aside>ul:not(.contactInformation) li:last-child {
        display: none;
    }
    aside>ul:not(.contactInformation) li:nth-child(2)>a {
        border-bottom: none;
    }
    .cv_item ul>li {
        max-width: 100%;
    }
    .top::after {
        height: 300px;
        left: 1rem;
        width: calc(100% - 2rem);
        top: 3rem;
    }
    .descriptionHolder {
        display: grid;
    }
    .subGridClass .bar {
        margin-top: 0;
    }
    .subGridClass .textfield {
        margin-top: 3rem;
        height: calc(100% - 3rem);
    }
    .projectDetails>ul {
        display: block;
        position: relative;
    }
    .container>article>section>.projectDetails>ul>li.flexBox {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    nav>a>picture>img {
        max-width: 200px;
    }
    #grid_images {
        max-width: 500px;
        height: 500px;
    }
    .projectGrid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 340px;
    }
    .descriptionHolder {
        display: block;
    }
    .subGridClass .textfield {
        height: 200px;
        margin-top: 1rem;
    }
    .subGridClass .bar {
        float: right;
        margin-top: -3.5rem;
    }
}

@media screen and (max-width: 450px) {
    nav>a>picture>img {
        max-width: 50px;
    }
    #grid_images {
        max-width: 300px;
        height: 300px;
    }
    .subHeaderCV {
        max-width: 200px;
    }
    form section {
        display: block;
    }
    section>span:not(.pricacy) {
        display: block;
        margin-bottom: 1rem;
    }
    .wrapper>p.Alert {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }
    .subGridClass .bar {
        float: none;
        float: right;
        clear: both;
        margin-top: 2rem;
    }
    .subGridClass .textfield {
        float: left;
    }
    .container article header {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper>header ul>li:first-child {
        display: none;
    }
    .wrapper>header ul {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
    .wrapper>header main>div {
        max-width: 95%;
    }
    span.socials {
        justify-content: left;
    }
    main>div>aside {
        display: block;
    }
    .contactInformation {
        clear: both;
    }
    .headerAside {
        float: left;
        clear: both;
    }
    .projectGrid {
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
    }
    .WorldeGame input {
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
    }
    .keyboard-key {
        width: 20px;
        height: 20px;
    }
    aside>ul:not(.contactInformation) {
        top: 0;
        right: 1rem;
        left: auto;
    }
    aside>ul:not(.contactInformation) a {
        color: var(--fontAccent);
        padding: 5px;
        padding-top: 0;
    }
    .wrapper>header ul>li a.active::after {
        bottom: -4px;
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
    }
    .container>article>section>.projectDetails>ul {
        top: 0;
        padding-left: 1rem;
    }
    li.flexBox {
        justify-content: left;
    }
    .overview img {
        max-width: 50px;
    }
    .overview {
        gap: 10px;
    }
}

@media screen and (max-width: 370px) {
    .projectGrid .projectItem footer {
        display: block;
    }
    .projectGrid .projectItem footer span:first-child {
        margin-bottom: 1em;
    }
    .projectGrid .projectItem footer a {
        display: block;
        margin-top: 10px;
        width: max-content;
    }
    .projectGrid .projectItem p.updateDescr {
        max-width: 100%;
    }
    section.WorldeGame {
        width: calc(100% - 2rem);
    }
    .keyboard-container {
        padding: 10px;
    }
    .keyboard-key {
        width: 20px;
        height: 20px;
        aspect-ratio: 1;
    }
}

@media screen and (max-width: 350px) {
    .wrapper>header ul {
        gap: 0px;
    }
    section.WorldeGame {
        width: calc(100% - 2rem);
    }
    .keyboard-container {
        padding: 10px;
    }
    .keyboard-key {
        width: 20px;
        height: 20px;
        aspect-ratio: 1;
    }
    .container article header {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    #grid_images {
        max-width: 250px;
        height: 250px;
    }
    .gridControls {
        max-width: 250px;
    }
    .subHeaderCV {
        max-width: 150px;
    }
    aside>ul:not(.contactInformation) {
        top: -3rem;
        left: 0;
    }
    aside>ul:not(.contactInformation) a {
        color: var(--mainBackgroundColor);
    }
    .container>article>section>.projectDetails>ul {
        top: 0;
        padding-left: 0;
    }
}